
<%= form_with scope: :post, url:posts_path, local:true do |form|  %>
<p> 
<%= form.label :title %>
<br>
<%= form.text_field  :title %>
<br>

  <p>
    <%= form.label :text  %><br>
    <%= form.text_area :text %>
  </p>

    <%= form.submit %>
</p>
<% end %>
